.App {
  text-align: center;
  color: rgb(2, 32, 96);
  font-weight: 900;
  text-shadow: 2px 2px rgb(205, 127, 11);
}

.bg-secondary {
  background-image: url(./images/seasonTrees.png);
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  margin-bottom: 0px;
  padding: 45px;
  opacity: .9;
}

.formBox {
  border: 2px solid rgb(205, 127, 11);
  padding: 10px;
  background: rgb(2, 32, 96);
  margin-top: 0px;
}

.inputBox {
  padding: 8px;
  width: 90%
}

.infoBox {
  margin-top: 2em;
  border: 2px solid rgb(2,32, 96);
  padding: 100px
}





